:root {
    --background-color-body-dark: #222222;
    --text-color-body-dark: #ffffff;
    --background-color-navbar: azure;
    --text-color-navbar: #333333;
    --text-color-diary: #2A74A2;
    --background-color-search-input: #ffffff;
    --text-color-search-input: #ffffff;
    --background-color-search-button: #023E8A;
    --text-color-search-button: #ffffff;
    --text-color-actions: #2A74A2;
    --text-color-logout: #ff0000;
    --text-color-home: #ffffff;
    --background-color-profile-button: #00B8F5;
    --background-color-display-button: #00B8F5;
    --background-color-theme-toggle:#5683be;
  }
  
  body {
    background-color: var(--background-color-body-dark);
    color: var(--text-color-body-dark);
  }
  
  .navbar {
    background-color: var(--background-color-navbar);
    color: var(--text-color-navbar);
  }
  
  .diary {
    color: var(--text-color-diary);
  }
  
  .search-bar input {
    background-color: var(--background-color-search-input);
    color: var(--text-color-search-input);
  }
  
  .search-bar button {
    background-color: var(--background-color-search-button);
    color: var(--text-color-search-button);
  }
  
  .actions .profile {
    color: var(--text-color-actions);
  }
  
  .actions .logout {
    color: var(--text-color-logout);
  }
  
  .home {
    color: var(--text-color-home);
  }
  
  .profile-button {
    background-color: var(--background-color-profile-button);
    color: var(--text-color-actions);
  }
  .display-button {
    background-color: var(--background-color-profile-button);
    color: var(--text-color-actions);
  }
  
  .theme-toggle {
    background-color: var(--background-color-theme-toggle);
    color: var(--text-color-actions);
  }
  