:root {
    --background-color-body-dark: #222222;
    --text-color-body-dark: #ffffff;
    --background-color-navbar: azure;
    --text-color-navbar: #333333;
    --text-color-diary: #a32828;
    --background-color-search-input: #333333;
    --text-color-search-input: #ffffff;
    --background-color-search-button: rgba(205, 144, 247, 0.7);
    --text-color-search-button: #ffffff;
    --text-color-actions: #ffffff;
    --text-color-logout: #ff0000;
    --text-color-home: #ffffff;
    --background-color-profile-button: rgb(197, 30, 55);
    --background-color-theme-toggle: #272997;
  }
  
  body {
    background-color: var(--background-color-body-dark);
    color: var(--text-color-body-dark);
  }
  
  .navbar {
    background-color: var(--background-color-navbar);
    color: var(--text-color-navbar);
  }
  
  .diary {
    color: var(--text-color-diary);
  }
  
  .search-bar input {
    background-color: var(--background-color-search-input);
    color: var(--text-color-search-input);
  }
  
  .search-bar button {
    background-color: var(--background-color-search-button);
    color: var(--text-color-search-button);
  }
  
  .actions .profile {
    color: var(--text-color-actions);
  }
  
  .actions .logout {
    color: var(--text-color-logout);
  }
  
  .home {
    color: var(--text-color-home);
  }
  
  .profile-button {
    background-color: var(--background-color-profile-button);
    color: var(--text-color-actions);
  }
  
  .theme-toggle {
    background-color: var(--background-color-theme-toggle);
    color: var(--text-color-actions);
  }
  