.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(245, 245, 245);
	display: flex;
	justify-content: space-between;
	width: 100vw;
	height: 70px;
	align-items: center;
	z-index: 1;
}
.diary{
	display: flex;
	margin-left: 20px;
	align-items: top;
	margin-top: 10px;
	color: #153A51;
	font-size: 40px;
    border: none;
}
.actions{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap:55px;
    font-size: 19px;
}
.actions p{
	color: #888;
}

.button {
        margin-left: 90px;
        margin-top: 10px;
        border-radius: 10px;
        border: none;
        height: 40px;
        background-color: rgba(187, 208, 255);
        cursor: pointer;
        color: white;
        text-decoration: none;
    }


.button a{
    text-decoration-line: none;
    color: white;
}
.profile-container{
    width: 320px;
    height: 290px;
    margin-top: 50px;
    margin-left: 480px;
    background-color:rgb(213, 240, 255);
    border-radius: 15px;
    box-shadow: 0 0 25px #d8d8d8;
    color:#6e6d6d;
}

.profile-container label{
    color: #6e6d6d;
}


.profile-title{
    padding-top: 17px;
    text-align: center;
    font-size: 20px;
    padding-left: 10px;
    color: #6e6d6d;
}
.pro{
    padding-top: 60px;
    font-size: 30px;
    padding-left: 20px;
    color:  #153A51;
}
.name{
    display: flex;
    flex-direction: column;
}
.input {
    margin-left: 10px;
    margin-top: 10px;
}
input[type="text"],input[type="password"]{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    height: 30px;
}
.submit{
    margin-left: 90px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    height: 40px;
    background-color: #177EC9;
    cursor: pointer;
    color: white;
    font-size: 18px;
}
.p{
    color: white;
    margin-left: 10px;
    font-size: 19px;
}



.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(141, 141, 141, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}


textarea {
  background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
  background-size: 100% 4rem;
  border: 1px solid #CCC;
  width: 100%;
  height: 400px;
  line-height: 2rem;
  margin: 0 auto;
  padding: 4px 8px;
}